<h1>Edit Haiku</h1>

<% form_for(@haiku) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :poet %><br />
    <%= f.text_field :poet %>
  </p>
  <p>
    <%= f.label :line1 %><br />
    <%= f.text_field :line1 %>
  </p>
  <p>
    <%= f.label :line2 %><br />
    <%= f.text_field :line2 %>
  </p>
  <p>
    <%= f.label :line3 %><br />
    <%= f.text_field :line3 %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :movie %><br />
    <%= f.text_field :movie %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @haiku %> |
<%= link_to 'Back', haikus_path %>
<%= link_to 'Home', :controller => 'home' %>
