<% @haikus.each do |haiku| %>
 	
 	<h2>
 	<%= link_to haiku.movie.name, :controller=>"movies", :action=>"show", :id=>haiku.movie_id %>
 	<!--<%=h haiku.movie.name%>-->
 	</h2>
 	 by <%= link_to haiku.poet.name, :controller=>"poets", :action=>"show", :id=>haiku.poet_id %><br>
    <blockquote>
    <%=h haiku.line1 %><br />
    <%=h haiku.line2 %><br />
    <%=h haiku.line3 %><br />
    </blockquote>

<% end %>

<br />

<%= link_to 'New haiku', new_haiku_path %>

