<% form_for :haiku, @haiku, :url => { :action => "create" } do |haiku_form|  %>
<p>  <%= haiku_form.error_messages %></p>

Movies<br />
<%= select("haiku", "movie_id", Movie.all.collect {|m| [ m.name, m.id ] }, {:include_blank => ' '}) %> 

<p class="grey_comment">
Not in list? <%= link_to "Create movie", :controller=>"movies", :action=>"new"%>
</p>

Poet<br />
<%= select("haiku", "poet_id", Poet.all.collect {|p| [ p.name, p.id ] }, {:include_blank => ' '}) %>
Not in list? <%= link_to "Create poet", :controller=>"poets", :action=>"new" %>

  <p>
    (7 syllables)<br />
    <%= haiku_form.text_field :line1 %>
  </p>
  <p>
    (5 syllables)<br />
    <%= haiku_form.text_field :line2 %>
  </p>
  <p>
     (7 syllables, reflection on earlier 2 lines)
	<br />
    <%= haiku_form.text_field :line3 %>
  </p>

  <p>
    <%= haiku_form.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', haikus_path %>

