<p>
  <b>Name:</b>
  <%=h @poet.name %>
</p>

<!--<p>
  <b>Email:</b>
  <%=h @poet.email %>
</p>-->

<%  @haikus = Haiku.all(:conditions => {:poet_id => @poet.id}, :include => :movie, :include => :poet)  %>
 
 
<% @haikus.each do |haiku|  %>
	<h1><%= haiku.movie.name%></h1>
  	 <%= haiku.line1 %>
  	 <br />
  	 <%= haiku.line2 %>
  	 <br />
  	 <%= haiku.line3 %>
  	 <br />
  	 -- by <%= haiku.poet.name  %>
  	 </p>
  	 
  	 <% end %>
<p> 
 

<%= link_to 'Edit', edit_poet_path(@poet) %> |
<%= link_to 'Back', poets_path %>