<p>
Movie Haikus by <%=h @poet.name %>, Poet
</p>


<%  @haikus = Haiku.all(:conditions => {:poet_id => @poet.id}, :include => :movie, :include => :poet)  %>
 
 
<% @haikus.each do |haiku|  %>
	<h1><%= link_to haiku.movie.name, :controller=>"movies", :action=>"show", :id=>haiku.movie_id%></h1>
	<blockquote>
  	 <%= haiku.line1 %>
  	 <br />
  	 <%= haiku.line2 %>
  	 <br />
  	 <%= haiku.line3 %>
  	 <br />
  	 
	</blockquote>  	 
  	 
  	 <% end %>
<p> 
 

<!--<%= link_to 'Edit', edit_poet_path(@poet) %> |-->
<%= link_to 'Back', poets_path %>