<h1>Haikus </h1>
</div>

  <div id="getting-started">

<% @haikus.each do |haiku| %>
 	
 	<h2><%=h haiku.movie.name%></h2>
 	 by <%=h haiku.poet.name %><br>
    <blockquote>
    <%=h haiku.line1 %><br />
    <%=h haiku.line2 %><br />
    <%=h haiku.line3 %><br />
    </blockquote>

<% end %>

<br />

<%= link_to 'New haiku', new_haiku_path %>
<%= link_to 'Home', :controller => 'home' %>


