<p>
  <b>Name:</b>
  <%=h @movie.name %>
</p>

<p>
  <b>Year:</b>
  <%=h @movie.year %>
</p>

<p>
  <b>Imdb url:</b>
  <%=h @movie.imdb_url %>
</p>

<p>
  <b>Img url:</b>
  <%=h @movie.img_url %>
</p>


<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>