<p>
 
  <%= image_tag( @movie.img_url, :alt=>@movie.name) %></p>
  <p>

  <%=h @movie.name %> (   <%=h @movie.year %> )
</p>
<p>
  <b>View more or rent on </b>
  <%= link_to @movie.aff_name, @movie.aff_url %>
</p>


<%  @haikus = Haiku.all(:conditions => {:movie_id => @movie.id}, :include => :movie, :include => :poet)  %>
 
 
<% @haikus.each do |haiku|  %>
  	 <%= haiku.line1 %>
  	 <br />
  	 <%= haiku.line2 %>
  	 <br />
  	 <%= haiku.line3 %>
  	 <br />
  	 -- by <%= haiku.poet.name  %>
  	 </p>
  	 
  	 <% end %>
<p> 
 


<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %> |
<%= link_to 'Home', :controller=>"home" %>