
<% @haikus.each do |haiku|  %>
	<h1><%=h haiku.movie.name %></h1> (<%=h haiku.movie.year %>)

<div id="movie image" style="text-align:right;float:right;border:1px solid gray;padding:5px;margin:5px;">
  
 <a href="<%=h haiku.movie.aff_url%>"><%= image_tag(haiku.movie.img_url, :border=>0)  %></a>
</div>
<br />

<% end %>

<% @haikus.each do |haiku|  %>
<blockquote>

  	 <%= haiku.line1 %>
  	 <br />
  	 <%= haiku.line2 %>
  	 <br />
  	 <%= haiku.line3 %>
  	 <br />
  	 -- by <%= link_to haiku.poet.name, :controller=>"poets", :action=>"show", :id=>haiku.poet_id  %>
</blockquote>  	 

<% end %>