<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Haikus: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'moviehaiku.css' %>
</head>
<body>
	<div id="page">
	
	<%= render(:partial => 'shared/sidebar') %>


    
      <div id="content">
        <div id="header"><h1><%= link_to "Movie Haikus", :controller=> "home" %></h1>
       
          <h2>5 x 7 x 5</h2>
        </div>


         <div id="getting-started">
    <p style="color: green"><%= flash[:notice] %></p>

	<%= yield %>

		</div>
	  </div>
	</div>  

</body>
</html>
